@import url(/cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css
);

$base-font: "gotham";

body {
  margin: 0;
  font-family: $base-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2ECF1;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  padding: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-checkbox {
}

.login-button {
  border: 1px solid black;
  border-radius: 2px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.logo {
  height: 40px;
  width: auto;
}
