@import url(/cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css
);

$base-font: "gotham";

* {
  margin: 0;
  border: 0;
}

body {
  font-family: $base-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2ECF1;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  padding: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-container {
  padding: 15px 0 40px 0;
}


.login-checkbox {
  padding: 0 0 30px 0;
}

.login-button {
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  width: 25%;
  background-color: white;
  height: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-textbox {
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  height: 30px;
}

.logo {
  height: 25px;
  width: auto;
  padding: 15px 0px;
}
